@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    background-color: #FF7C03;
    font-family: "Poppins", sans-serif;
  }

  
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.swiper-button-prev::after {
    font-size: 25px;
}

.swiper-button-next::after{
    font-size: 25px;
}
.swiper-button-next{
    color: #e42727;
}

.swiper-button-prev{
    color: #db241b;
}
    .swiper-pagination-bullet{
        background-color: #962828;
        opacity: 1;

    }
    .swiper-pagination-bullet-active{
        background-color: #db241b;
    }
     
      
    .menu{
        position: absolute;
        top: 0px;
        left:0;
        right: 0;
        display: flex;
        justify-content:center;
        z-index:   1000;
        background-color: #ffffff;
    }

    .navbar{
        display: flex;
    }
    .menu-1{
        margin-right: 180px;
    }
    .menu-2{
        margin-right: 180px;
        display: flex;
        align-items: center;
    }
    .logo-1{
        width: 0;
    }
    .logo-2{
        width: 150px;

    }
    .socials {
        display: flex;
    }
   

    .social{
        margin: 0 10px;
        height: 40px;
        width: 40px;
        border: 1px solid #db241b;
        border-radius: 50%;
    }
    .social:hover{
        background-color: #db241b;
    }
    .social img{
        margin: 4px 0 0 5px;
    }

    .menu .navbar ul li {
        position: relative;
        float: left;

    }

    .menu .navbar ul li a {
        font-size: 18px;
        padding: 20px;
        color: #0e0d0d;
        display: block;

    }

    .menu .navbar ul li a:hover {
        color: #f50404;
    }

    #menu{
        display: none;
    }
    .menu-icono{
        width: 25px;
    }
    .menu label{
        cursor: pointer;
        display: none;
    }

    .header-content{
        margin-top: 10px;
        padding-bottom: 50px;
    }

    .slider{
        display: flex;
        align-items: center;
    }

    .slider-txt{
        margin-left: 85px;
        width: 50%;
    }

    .slider-txt h1{
        font-size: 70px;
        color:#0c0c0c;
        text-transform: uppercase;
        font-weight: 800;
    }

    .slider-txt p{
        font-size: 18px;
        color: #0f0e0e;
    }

    .botones{
        margin-top: 50px;
    }
    .btn-1{
        display: inline-block;
        padding: 15px 35px;
        border: 2px solid #DB241B;
        color: #0f0e0e;
        font-weight: 800;
        letter-spacing: 20px;
        text-transform: uppercase;
        margin-right: 20px;
        border-radius: 50px;
    }

    .btn-1:hover{
        background-color: #DB241B;
    }
    
    .slider-img{
        width: 50%;
    }

    .slider-img img{
        margin-right: 225px;
        width: 550px;
    }
    
    .products{
        background-color: #ffffff;
    }
    
    .tabs{
        display: flex;
        flex-wrap: wrap;
        padding: 100px 0px;
    }

    .tabs label{
        width: 15%;
        order: 1;
        display: block;
        padding:20px 0;
        text-align: center;
        cursor: pointer;
        color: #181717;
        font-weight: 700;
        transition: background ease 0.2s;

    }


.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label{
    border-bottom: 2px solid #DB241B;
    color: #0c0b0b;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}


.product{
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10;

}

.product-img{
    width: 50%;
    text-align: left;
}

.product-img h4{
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #181515;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-img img{
    width: 180px;
    margin-left: 120px;

}

.product-txt{
    width: 50%;
    margin-left: 10px;
    text-align: left;

}

.product-txt h4{

    color: #0f0f0f;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

.product-txt p{
    color: #5c5b5b;
    font-size: 16px;
    margin-bottom: 15px;


}


.product-txt span{
    color: #0f0f0f;
    font-size: 18px;
    font-weight: 800;
}

.info{
    padding: 50px 0px;
    display: flex;
    align-items: center;
    text-align: justify;

}

.info-img{
    width: 50%;
}

.info-img img{
    width: 642px;
    height: 389px;
}

.info-txt{
    width: 50%;
}

.info-txt h2{
    font-size: 75px;
    color: #0f0f0f;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-left: -300px;
    margin-top: 50px;
}

.info-txt p{
    font-size: 20px;
    color: #444444;
    margin-bottom: 60PX;
    margin-left: -505px;
   

}

.btn-2{
    display: inline-block;
    padding: 15px 35px;
    background-color: #DB241B;
    color: #1b1b1b;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
    margin-left: -163px;
}

.btn-2:hover{
    background-color: #DB241B;
    
}

.horario{
    padding: 100px 0px;
    background-color:#ffffff;
}

.horario-info h2{
    font-size: 75px;
    color: #0a0909;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;

}

.horario-txt{
    display: flex;
    justify-content: space-between;
}

.txt{
    color: #111010;

}

.txt h4{
    font-size: 18px;
    color: #0d0d0e;
    margin-bottom: 30px;
}

.txt p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}


.footer{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}
.links h4{
    color: #0f0f0f;
    text-transform: uppercase;
    margin-bottom: 25px;

}

.links ul li a{
    color: #0f0f0f;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

@media (max-width: 991px){
    .menu{
 padding: 20px;
 justify-content: space-between;
    }
    .menu-2{
        display: none;

    }
    .logo-1{
        width: 100px;
    }
    .logo-2{
        width: 0;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }
    .menu .navbar ul li{
       width: 100%;
    }
    #menu:checked ~ .navbar{
        display:initial;
    }
    .header-content{
        padding: 30px;
        margin-top: 100px;
    }

    .slider{
        flex-direction: column;
    }
    .slider.txt{
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;

    }
    .slider-txt h1{
        font-size: 50px;
    }
    .slider-txt p{
        font-size: 16px;
    }
    .btn-1{
        padding: 10px 25px;
        font-size: 14px;
    }
    .slider-img{
        width: 100%;
        text-align: center;
    }
    .slider-img img{
        margin-right: 0px;
        width: 300px;
    }
    .swiper-horizontal>.swiper-pagination-bullets, 
    .swiper-pagination-bullets.swiper-pagination-horizontal, 
     .swiper-pagination-custom, 
       .swiper-pagination-fraction{

        bottom: 7px;

    }

    .tabs{
        padding: 50px 30px;
    }
    .tabs label{
        width: 33%;
    }

    .info{
        padding: 30px;
        flex-direction: column;
    }
    .info-img{  
        width: 100%;
        text-align: center;
    }

    .info-img img{
        width: 400px;
        height: 200px;
        margin-bottom: 25px;
    }
    .info-txt{
        width: 100%;
        text-align: center;
    }

    .info-txt h2{
        font-size: 50px;
    }

    .info-txt p{
        font-size: 16px;
    }
    .btn-1{
        font-size: 16px;
    }

    .horario{
        padding: 30px;
        text-align: center;
    }

    .horario-info h2{
        font-size: 50px;
        margin-bottom: 15px;
    }

    .horario-txt{
        flex-direction: column;
    }
    .socials{
        justify-content: center;
    }

    .social img{
        margin: 8px 0 0 0;
    }

    .footer{
        padding: 30px;
        flex-direction: column;
         text-align: center;
    }
    
    .links h4{
        margin: 25px 0px 10px 0px;
    }
    /*FONTER*/
}

 